@page "/employeecreate"
@inject MediatR.IMediator _mediator
@inject AutoMapper.IMapper _mapper
@using Planner.Application.Service.Command
@using Planner.Application.ViewModels
@using System.ComponentModel.DataAnnotations
@using Planner.WebBlazor.Models




<PageTitle>SPG - dodawanie pracownika</PageTitle>

<h3>Dodaj nowego pracownika</h3>


<EditForm Model="@employee" OnValidSubmit="@InsertEmployee">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <td>Imię: </td>
    <InputText id="name" @bind-Value="employee.Name" required/>
    <br/>
    <td>Nazwisko: </td>
    <InputText id="surname" @bind-Value="employee.Surname" required/>
    <br/>
    <td>Adres e-mail: </td>
    <InputText id="addressemail" @bind-Value="employee.AddressEmail" required/>
    <br/>
    <td>Telefon: </td>
    <InputText id="phonenumber" @bind-Value="employee.PhoneNumber" required/>
    <br/>
    <td>Prawo wyk. zawodu: </td>
    <InputText id="licensenumber" @bind-Value="employee.LicenseNumber" required/>
    <br/>
    <td>Hasło: </td>
    <InputText id="password" @bind-Value="employee.Password" required/>
    <br/>
    <br/>
    <button type="submit" @onclick="InsertEmployee">Submit</button>
</EditForm>




@code {
    private CreateEmployee employee = new CreateEmployee();


    private async Task InsertEmployee()
    {
       
            await _mediator.Send(_mapper.Map<CreateEmployeeCommand>(employee));
     

    }
}




