@page "/request"

<h3>RequestAdd</h3>

<p>


    <label>
        <input type="radio"
        value ="1"
        name ="group"
        checked = "@(shift == 0)" 
        @onclick ="()=> shift = 0"/>Cały dzień
    </label>
     <br/>
    <label>
        <input type="radio"
        value ="2"
        name ="group"
        checked = "@(shift == 1)"
        @onclick ="()=> shift = 1"/> Dzień
    </label>
     <br/>
    <label>
        <input type="radio"
        value ="3"
        name ="group"
        checked = "@(shift == 2)"
        @onclick ="()=> shift = 2" /> Noc
        
    </label>
    <br/>
    @shift
</p>

@code {
    int shift = 0;
    

}
