@page "/"
@inject MediatR.IMediator _mediator
@using Planner.Application.Service.Queries
@using Planner.Application.ViewModels

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<ul>
    @foreach(var e in employees)
    {
        <li>@e.Name @e.Surname @e.LicenseNumber @e.PhoneNumber</li>

    }
</ul>

<form action="*">
<textarea name="texarea"></textarea>
</form>


@code {
    List<EmployeeViewModel> employees;
    

    protected override async Task OnInitializedAsync()
    {
        employees = await _mediator.Send(new GetEmployeesQuery());

    }

}


