@page "/ward"

<h3>Ward</h3>


<form>
First name: <input type="text" name="firstname"><br>
Last name: <input type="text" name="lastname">
<input type="submit" value="Submit">

</form>

@code {

    protected override async Task OnInitializedAsync()
    {
        //employees = await _mediator.Send(new GetEmployeesQuery());

    }


}
